body {
  margin: 0;
  padding: 0;
  background: royalblue;
  color: white;

  font-family: sans-serif;
}

header {
  text-align: center;
}

main {
  padding: 1em;
  background: tomato;
}

.img-container {
  max-width: 200px;
}

.img-container img {
  width: 100%;
}
