<h1>Notes 📑</h1>
<ul>
    <% for (let id in notes) { %>
        <li>
            <a href="/notes/<%= id %>">
                <%= notes[id].content %>
            </a>

            <form action="/api/notes/<%= id %>/delete" method="POST">
                <button>X</button>
            </form>
        </li>
        <% } %>
</ul>
<a href="/notes/new">New note</a>
<form action="/api/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>